 # **SQL Basics Assignment**
---
## **All work in SQL Workbench(Q1. - Q8.)**
```sql
-- Q1. Create a New Database and Table for Employees

CREATE DATABASE IF NOT EXISTS company_db;
USE company_db;

CREATE TABLE IF NOT EXISTS employees (
    employee_id INT PRIMARY KEY,
    first_name   VARCHAR(50),
    last_name    VARCHAR(50),
    department   VARCHAR(50),
    salary       INT,
    hire_date    DATE
);

SELECT * FROM employees;
```

---

```sql
-- Q2. Insert Data into Employees Table

INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit',  'Sharma', 'HR',      50000, '2020-01-15'),
(102, 'Riya',  'Kapoor', 'Sales',   75000, '2019-03-22'),
(103, 'Raj',   'Mehta',  'IT',      90000, '2018-07-11'),
(104, 'Neha',  'Verma',  'IT',      85000, '2021-09-01'),
(105, 'Arjun', 'Singh',  'Finance', 60000, '2022-02-10');

SELECT * FROM employees;
```

---

```sql
-- Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

SELECT *
FROM employees
ORDER BY salary ASC;
```

---

```sql
-- Q4. Show Employees Sorted by Department (A–Z) and Salary (High to Low)

SELECT *
FROM employees
ORDER BY department ASC, salary DESC;
```

---

```sql
-- Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)

SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;
```

---

```sql
-- Q6. Create and Populate a Sales Table

CREATE TABLE IF NOT EXISTS sales (
    sale_id       INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount        INT,
    sale_date     DATE
);

INSERT INTO sales (sale_id, customer_name, amount, sale_date)
VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

SELECT * FROM sales;
```

---

```sql
-- Q7. Display All Sales Records Sorted by Amount (Highest to Lowest)

SELECT *
FROM sales
ORDER BY amount DESC;
```

---

```sql
-- Q8. Show All Sales Made by Customer "Aditi"

SELECT *
FROM sales
WHERE customer_name = 'Aditi';
```
---
## **Q9. What is the Difference Between a Primary Key and a Foreign Key?**

### **Answer:**

**Primary Key** aur **Foreign Key** dono database me important constraints hote hain, lekin inka purpose alag hota hai.

### **Primary Key:**

* Table ke har record ko **uniquely identify** karti hai
* **Duplicate values allowed nahi hoti**
* **NULL value allowed nahi hoti**
* Ek table me **sirf ek Primary Key** hoti hai

**Example:**

```sql
sale_id INT PRIMARY KEY
```

---

### **Foreign Key:**

* Ek table ko **dusre table se connect** karti hai
* Ye **dusre table ki Primary Key ko refer** karti hai
* Duplicate values allowed hoti hain
* NULL value allowed ho sakti hai

**Example:**

```sql
employee_id INT,
FOREIGN KEY (employee_id) REFERENCES employees(employee_id)
```

---

## **Q10. What Are Constraints in SQL and Why Are They Used?**

### **Answer:**

**Constraints in SQL** rules hote hain jo table ke data par restriction lagate hain, taaki database me **valid, accurate aur consistent data** store ho.

### **Common SQL Constraints:**

* **PRIMARY KEY** – Unique aur NOT NULL value
* **NOT NULL** – Column empty nahi ho sakta
* **UNIQUE** – Duplicate value allowed nahi
* **CHECK** – Condition check karta hai
* **DEFAULT** – Default value set karta hai
* **FOREIGN KEY** – Tables ke beech relationship banata hai

### **Why Constraints Are Used:**

* Galat data insert hone se bachane ke liye
* Data duplication rokne ke liye
* Data integrity maintain karne ke liye
* Database ko reliable aur secure banane ke liye

---